page {
  width: 100%;
  height: 100%;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

.circle {
  width: 100%;
}

.share-canvas {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.like_bg {
  padding: 8px;
  background: #f2f0f4;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.like_icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: 12px;
  margin-top: 8px;
  flex-shrink: 0;
}

.avatar_container {
  flex: 1;
}

.avatar {
  width: 36px;
  height: 36px;
  margin-left: 6px;
}
